body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 50px;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: #127dc5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .box:hover {
    transform: none;
  }
  
  .translate:hover {
    transform: translate(50px, 50px);
  }
  
  .rotate:hover {
    transform: rotate(45deg);
  }
  
  .scale:hover {
    transform: scale(1.5);
  }
  
  .skew:hover {
    transform: skew(30deg, 20deg);
  }
  